html {
    height: 100%;
    overflow-y: scroll;
    font-size: 100%;
}

body {
    background-color: $off-white;
    color: $off-black;
}

a {
  color: $blue;
  text-decoration: none;
  transition: .15s linear;

  &:hover {
    color: $red;
    transition: .15s linear;
    text-decoration: none;
  }
}
